<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soberdev</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="caption">
        <img src="{{ url_for('static', filename='logo_3-removebg-preview.png') }}">
    </div>
    <div class="container">
        <div class="bg">
        </div>
        <div class="godzilla">
          <div class="shadow"></div>
          <div class="back"></div>
          <div class="shape"></div>
          <div class="leg"></div>
          <div class="head"></div>
          <div class="arm"></div>
        </div>
        <div class="bigrobot">
          <div class="shadow"></div>
          <div class="back"></div>
          <div class="shape"></div>
          <div class="leg"></div>
          <div class="head"></div>
          <div id="back2" class="back"></div>
          <div class="arm"></div>
        </div>
        <div class="skyscraper-shadow"></div>
        <div class="skyscraper-box">
          <div class="skyscraper">
            <div class="window"></div>
          </div>    
        </div>
      </div>
      <p id="coming-soon">coming soon</p>

      
      <!-- //////////////// CREDIT //////////////// -->
      <a href="https://codepen.io/SofiaSergio/" target="_blank">
        <div id="link">
          <i class="fab fa-codepen"></i>
          <p>credit of this page</p>
        </div>
      </a>
</body>
</html>